@page "/"

<PageTitle>Home</PageTitle>

<HeadContent>
    <meta name="description" content="@description">
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private string description = "Lorem ipsum";
}
