@page "/rentals"
@using BlazorWebAssemblySakilaApp.Features.Rentals
@using Fluxor
@using Fluxor.Blazor.Web.Components
@* @inject ApiRentalService Api *@
@attribute [Authorize]
@inject IDispatcher Dispatcher
@inject IState<RentalsState> RentalsState
@inherits FluxorComponent

<h3>List</h3>


@if (RentalsState.Value.IsLoading)
{
    <p>Loading rentals...</p>
}
else
{

    <GenericTable Items="@RentalsState.Value.Rentals">
        <HeaderTemplate>
            <th>Rental Date</th>
            <th>Return Date</th>
            <th>Customer Id</th>         
            <th>Actions</th>
        </HeaderTemplate>

        <RowTemplate Context="rental">            
            <td>@rental.RentalDate</td>
            <td>@rental.ReturnDate</td>
            <td>@rental.CustomerId</td>

            <td>
                <a href="/rentals/@rental.Id" class="btn btn-primary">View</a>                
            </td>
        </RowTemplate>
    </GenericTable>
}


@code {

   // private List<Rental> rentals;

    protected override async Task OnInitializedAsync()
    {
        // rentals = await Api.GetAllAsync();
        Dispatcher.Dispatch(new FetchRentalsAction());
    }

}
