@page "/rentals/{id:int}"
@inject ApiRentalService Api

<h3>View</h3>

@if (Rental is not null)
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Rental.RentalDate</h4>

            <p class="card-text">

                <button class="btn btn-primary">Return</button>

            </p>
        </div>
    </div>
}



@code {

    [Parameter]
    public int Id { get; set; }

    public Rental Rental { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        Rental = await Api.GetById(Id);
    }

}
