<table>

    @if (HeaderTemplate is not null)
    {
        <thead>
            <tr>
                @HeaderTemplate
            </tr>
        </thead>
    }

    <tbody>
        @foreach (var film in Films)
        {
            <tr>
                @RowTemplate(film)
            </tr>
        }

    </tbody>


</table>

@code {

    [Parameter]
    public List<Film> Films { get; set; }

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<Film> RowTemplate { get; set; }


}
