@typeparam TItem

<table>

    @if (HeaderTemplate is not null)
    {
        <thead>
            <tr>
                @HeaderTemplate
            </tr>
        </thead>
    }

    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)
            </tr>
        }

    </tbody>


</table>

@code {

    [Parameter]
    public List<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }


}
