<div>
    <label>Search: </label>
    <input type="text" @bind-value="filter" @ref="filterElementReference" />

    <button type="button" @onclick="Search">Search</button>
</div>

@code {

    private string filter;

    private ElementReference filterElementReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await filterElementReference.FocusAsync();
        }
    }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private async Task Search()
    {
        await OnSearch.InvokeAsync(filter);
    }
}
