@page "/films"
@using BlazorWebAssemblySakilaApp.Components
@using Microsoft.AspNetCore.Authorization
@inject ApiFilmService Api
@attribute [Authorize]

<h3>Films</h3>

@if (films == null)
{
    <p>Loading films...</p>
}
else
{
   <FilmTable Films="@films" />
}


@code {
    private List<Film> films;

    protected override async Task OnInitializedAsync()
    {
        films = await Api.GetAllAsync();
    }


}
