@page "/films"
@using Microsoft.AspNetCore.Authorization
@inject ApiFilmService Api
@attribute [Authorize]

<h3>Films</h3>

@if (films == null)
{
    <p>Loading films...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Release Year</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var film in films)
            {
                <tr>
                    <td>@film.Title</td>
                    <td>@film.Description</td>
                    <td>@film.ReleaseYear</td>
                    <td>@film.Rating</td>
                </tr>
            }

        </tbody>
    </table>
}


@code {
    private List<Film> films;

    protected override async Task OnInitializedAsync()
    {
        films = await Api.GetAllAsync();
    }


}
