@page "/films"

<h3>List</h3>

@code {
    private List<Film> films;


    protected override Task OnInitializedAsync()
    {
        // TODO: Pobierz listę filmów z API
        return base.OnInitializedAsync();
    }


}
