@page "/vfilms"
@inject ApiFilmService Api

<h3>VirtualizationList</h3>

@if (films is not null)
{
    <table>

        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Release Year</th>
                <th>Rating</th>
            </tr>
        </thead>
        

        <tbody>

            <Virtualize Context="film" SpacerElement="tr" ItemsProvider="LoadFilms">

                <ItemContent>
                    <tr>
                        <td>@film.Title</td>
                        <td>@film.Description</td>
                        <td>@film.ReleaseYear</td>
                        <td>@film.Rating</td>
                    </tr>
                </ItemContent>
            
                <Placeholder>
                    <p>Loading item...</p>
                </Placeholder>

            </Virtualize>
        </tbody>


    </table>
}

@code {

    private List<Film> films;

    protected override async Task OnInitializedAsync()
    {
        films = await Api.GetAllAsync();
    }

    private async ValueTask<ItemsProviderResult<Film>> LoadFilms(ItemsProviderRequest request)
    {
        var response = await Api.GetAllAsync(request.StartIndex, request.Count);

        return new ItemsProviderResult<Film>(response.Films, response.TotalItemCount);
    }
}
